
    
#Name {
font-family: "Faster One", system-ui;
font-weight: 400;
font-style: normal;
text-align: center;
-webkit-text-fill-color: rgb(200, 0, 0);
font-size: 9vw;
margin-bottom: 1%;
cursor: pointer;
background-color: rgb(255, 64, 64);

}



body {
    
}

.redBackground {
    background-color: rgb(255, 64, 64);
}

* {
    
}

#navBar {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15vw;
    font-size: 6vw;
    margin-bottom: 5%;
    margin-top: 0;
    margin-left:0;
}

.navBarItem {
    cursor: pointer;
}
    
#topBand {
    background-color: rgb(255, 64, 64);
    margin-bottom: 8%

}



.homeTitle {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align:center;
    font-size: 7vw;
    text-decoration: underline rgb(200, 0, 0);
    margin-bottom: 10%;
    cursor: pointer;
}


#galleryContainer {
    width: 70%;
    background-color:white;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-left:auto;
    margin-right:auto;
}

#innerGallery {
    box-sizing: border-box;
    position: relative;

}

#photoSlide {
    margin-left: auto;
    margin-right: auto;
}

.bigImage {
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
   top: 27vw;
    font-size: 8vw;
    color: white;
    padding: 0.7vh;
    
}
.next {
    right:15%;
    border-radius: 8px 0 0 8px;
}

.prev {
    left:15%;
    border-radius:0 8px 8px 0;
}

.prev:hover,
.next:hover{
    background-color:rgb(48, 48, 48)
}

img {
 
}

#Thumbnails {
    
    display: flex;
    flex-direction: row;
    cursor:pointer;


}

.thumbnail {
    width: 16.6%;
    height: 70%;
}


.Title {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align:center;
    font-size: 7vw;
    cursor: pointer;
    text-decoration: underline rgb(200, 0, 0);
}


#aboutMe {
    display: none;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    text-align:justify;
}

.photoContainer {
    display: grid;
    margin-bottom: 5vw;
    grid-template-columns: 33% 33% 33%;
    column-gap: 0%;
}

#photoGallery {
    background-color:white;
    padding-bottom: 100%;
    padding-top: 10%;
}

.galleryPic {
    width: 28%;
    border-radius: 10px 10px 10px 10px;

    
}



#resume {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 15%;
    background-color: white;
    font-size: 3.5vw;
}


#highlightsBody {
    font-size: 4vw;
    text-align: justify;
}

.highlightsHeader {
    text-decoration: underline rgb(200, 0, 0);
}

.detail {
    font-size: 100%;
    margin-left: 10%;
}

#Highlights {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 15%;
    background-color: white;

}

#galleryContainer {
    background-color: white;
}

#resumeBody {
    font-size: 130%;
    text-align: justify;
}

#update {
    text-align: center;
    padding-top: 10%;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 5vw;
}

#bottomBar {
    background-color:rgb(255, 64, 64);
    width: 100%;
    height: 150%;
    margin-top: 10%;
    padding-bottom: 20%;

}

@media only screen and (max-width: 600px) {
    
    #galleryContainer {

        padding-bottom: 100%;

    }
    
}

@media only screen and (min-width: 690px) {
    #Name {
        font-size: 6vw;
    }
    
    #navBar {
        font-size: 6vw;
        gap: 8vw;
        margin-bottom: 3%;
    }

    #topBand {
        margin-bottom: 0%;
    }

    .Title {
        font-size: 5vw;
    }

    #photoSlide {
        padding-left: 10%;
        padding-right: 10%;        
    }

    #galleryContainer {
        padding-top: 4%;
    }

    #aboutMeOuter {
        padding-top: 2%;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    #photoGallery {
        padding-top: 2%;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    #Highlights {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #resume {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.5vw;
    }

    #aboutMe {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
    }

        .prev,
    .next {

   top: 21vw;
    font-size: 5vw;
    color: white;
    padding: 0.7vh;
    
    }

    .next {
    right:22%;
    border-radius: 8px 0 0 8px;
    }

    .prev {
        left: 14.8vw;
        border-radius:0 8px 8px 0;
    }

    #highlightsBody {
        font-size: 2.6vw;

    }

    #update {
        font-size: 3vw;
    }

}

@media only screen and (min-width: 1000px) {
    #Name {
        font-size: 4.5vw;
    }
    
    #navBar {
        font-size: 3.5vw;
        gap: 5vw;
        margin-bottom: 1%;
    }

    #topBand {
        margin-bottom: 0%;
    }

    .Title {
        font-size: 3vw;
    }

    #photoSlide {
        padding-left: 10%;
        padding-right: %;        
    }

    #galleryContainer {
        padding-top: 2%;
        width: 66%;
    }

    #aboutMeOuter {
        padding-top: 0%;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    #photoGallery {
        padding-top: 2%;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    #Highlights {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #resume {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.8vw;
    }

    #aboutMe {
        padding-top:0.5%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2vw;
    }

        .prev,
    .next {

   top: 18vw;
    font-size: 4vw;
    color: white;
    padding: 0.7vh;
    
    }

    .next {
    right:22%;
    border-radius: 8px 0 0 8px;
    }

    .prev {
        left: 14.8vw;
        border-radius:0 8px 8px 0;
    }

    #highlightsBody {
        font-size: 2.6vw;

    }

    #update {
        font-size: 3vw;
    }

}
